<?xml version='1.0' encoding='UTF-8' ?>
<!DOCTYPE composition PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<ui:composition xmlns="http://www.w3.org/1999/xhtml"
                xmlns:ui="http://xmlns.jcp.org/jsf/facelets"
                xmlns:f="http://xmlns.jcp.org/jsf/core"
                xmlns:h="http://xmlns.jcp.org/jsf/html"
                template="/WEB-INF/templates/layout.xhtml">

    <ui:define name="styles">
        <link href="#{request.contextPath}/css/inscricao.css" rel="stylesheet" type="text/css" />
    </ui:define>

    <ui:define name="metadata">
    </ui:define>

    <ui:define name="javascript">
    </ui:define>

    <ui:define name="content">
        <h:form>
            <h:panelGroup styleClass="titulo-form form-block" layout="block">
                <h:outputText id="title" value="INSCRIÇÃO CONFIRMADA"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputText id="nome" value="Prezado(a) #{inscricaoBean.candidato.nome},"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputText id="useless" value="Seguem os dados da sua inscrição"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel for="idioma" value="Idioma"/>
                <h:outputText id="idioma" value="#{inscricaoBean.candidato.idioma.descricao}"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel for="cpf" value="CPF"/>
                <h:outputText id="cpf" value="#{inscricaoBean.candidato.cpf}"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel for="end" value="Enderço"/>
                <h:outputText id="end" value="#{inscricaoBean.candidato.endereco}"/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block" layout="block">
                <h:outputLabel for="dataHora" value="Data e hora"/>
                <h:outputText id="dataHora" value="#{inscricaoBean.candidato.dataHora}">
                    <f:convertDateTime dateStyle="full" locale="pt_BR"/>
                </h:outputText><br/>
            </h:panelGroup>
            <h:panelGroup styleClass="form-block submit" layout="block">
                <h:commandButton value="Voltar" action="inscricao"/>
            </h:panelGroup>
            <h:messages/>
        </h:form>
    </ui:define>

</ui:composition>
